apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: sealed-secrets
  namespace: kube-system
spec:
  repo: https://bitnami.github.io/sealed-secrets
  chart: sealed-secrets
  version: "{{ addons_sealed_secrets_chart_version }}"
  targetNamespace: kube-system
  valuesContent: |-
    secretName: "sealed-secrets-key"
    keyrenewperiod: "0"
    resources:
      requests:
        cpu: 20m
        memory: 64Mi
      limits:
        memory: 128Mi
