apiVersion: v1
kind: Secret
metadata:
  name: sealed-secrets-key
  namespace: kube-system
  labels:
    sealedsecrets.bitnami.com/sealed-secrets-key: active
type: kubernetes.io/tls
data:
  tls.crt: {{ lookup('file', addons_sealed_secrets_cert_path) | b64encode }}
  tls.key: {{ lookup('file', addons_sealed_secrets_key_path) | b64encode }}
